@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  color: #1D3E3C;
}

img {
  max-width: 100%;
}

.main_body {
  overflow-x: hidden;
  background-color: #8292a91a;
}

.main_body.home_page {
  background-color: #E8E6EA;
}

.main_body .container {
  max-width: 1582px;
}

p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin-bottom: 0px;
}

h1.title {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: -0.34px;
  line-height: 36px;
  text-align: center;
}

h1.title.title_2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.32px;
}

.wohnungen_newtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 36px;
  letter-spacing: -0.34px;
  line-height: 36px;
  text-align: center;
}

.version_lastcontent {
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 24px;
}

a {
  color: #324653;
}

a:hover {
  color: inherit;
  text-decoration: unset;
}

.list-group {
  background-color: transparent;
}

.mb_30 {
  margin-bottom: 30px;
}

.img_376 {
  width: 376px;
  height: 376px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_572 {
  width: 572px;
  height: 376px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* test page */
.hero_banner__subtitle {
  font-size: 34px;
  line-height: 74px;
  color: #EDF2F1;
  font-weight: 300;
}

.hero_section {
  position: relative;
}

.hero_section .hero_banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_section .hero_banner__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero_section .hero_banner__title {
  font-size: 68px;
  line-height: 68px;
  letter-spacing: -0.68px;
  color: #EDF2F1;
  margin-bottom: 26px;
  font-weight: 300;
}

.hero_section .hero_banner__title span {
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}

.hero_section .hero_banner__description {
  font-weight: 300;
  font-size: 34px;
  line-height: 74px;
  color: #EDF2F1;
}

.hero_carousel ul,
.gallery_images ul {
  margin-left: 0px;
  padding-left: 0px;
}

.hero_carousel ul {
  margin-bottom: 0px !important;
}

.hero_carousel .slick-dots,
.gallery_images .slick-dots {
  bottom: 6px;
}

.hero_carousel .slick-dots li button:before,
.gallery_images .slick-dots li button:before {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
}

.hero_section {
  position: relative;
  isolation: isolate;
}

.hero_section::after {
  content: " ";
  background-color: #E0E1E4;
  mix-blend-mode: multiply;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 20;
  height: 104px;
  top: 0;
  left: 0;
  right: 0;
}

header.nav_wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.hero_section.hero_section__lage .hero_banner p {
  font-size: 10px;
  line-height: 15px;
  color: #324653;
  letter-spacing: -0.10px;
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
}

.hero_section.hero_section__lage .hero_banner img.card-img-top {
  height: calc(100% - 43px);
}

.hero_section.hero_section__lage::after {
  display: none;
}

.hero_section.hero_section__lage .nav_wrapper .navbar {
  position: relative;
  z-index: 9999;
}

.hero_section.hero_section__lage .nav_wrapper:after {
  content: "";
  background-color: #82828514;
  opacity: 0.75;
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 20;
  height: 104px;
  top: 0;
  left: 0;
  right: 0;
}

.hero_section header.nav_wrapper .navbar {
  height: 104px;
  padding-left: 85px;
  padding-right: 85px;
}

.hero_section header.nav_wrapper .navbar .navbar-brand {
  width: 108px;
}

.hero_section header.nav_wrapper .navbar .navbar-brand img {
  width: 100%;
}

.hero_section header.nav_wrapper .navbar .nav-item:last-child .nav-link {
  padding-right: 0px;
}

.hero_section header.nav_wrapper .navbar .nav-item:first-child .nav-link {
  padding-left: 0px;
}

.hero_section header.nav_wrapper .navbar .nav-item .nav-link {
  font-size: 18px;
  line-height: 36px;
  padding-left: 24px;
  padding-right: 24px;
  color: #E0E1E4;
  font-weight: 400;
}

.hero_section header.nav_wrapper .navbar .nav-item .nav-link :first-child {
  padding-left: 0px;
}

.hero_section header.nav_wrapper .navbar .nav-item .nav-link:hover {
  text-decoration: underline;
}

.hero_section header.nav_wrapper .navbar .nav-item .nav-link.active_link {
  text-decoration: underline;
}

.hero_section header.nav_wrapper .navbar .nav-item .nav-link .fab {
  font-size: 24px;
}

.hero_section header.nav_wrapper .navbar .nav-item .dropdown_button {
  font-size: 18px;
  line-height: 36px;
  padding-left: 24px;
  padding-right: 24px;
  color: #E0E1E4;
  font-weight: 400;
}

.hero_section header.nav_wrapper .navbar .nav-item .dropdown_button:hover {
  text-decoration: underline;
}

.active_link {
  text-decoration: underline;
}

.hover_dropdown {
  cursor: pointer;
}

.hover_dropdown.hover_white li a {
  color: #E0E1E4 !important;
}

.hover_dropdown .dropdown-menu {
  min-width: 235px;
  width: 100%;
  background-color: unset;
  padding-top: 10px;
  padding-bottom: 0px;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0px;
  border: 0;
  color: #1D3E3C;
}

.hover_dropdown .dropdown-menu::after {
  background-color: #4f6865;
  mix-blend-mode: multiply;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 20;
}

.hover_dropdown .dropdown-menu li {
  text-align: center;
}

.hover_dropdown .dropdown-menu li + li {
  margin-top: 15px;
}

.hover_dropdown .dropdown-menu li a {
  font-size: 18px;
  line-height: 20px;
  color: #1D3E3C;
}

.hover_dropdown .dropdown-menu li a:hover {
  text-decoration: underline;
  color: #1D3E3C;
}

.hero_carousel .slick-dots li {
  margin: 5px;
}

.nav_wrapper .navbar .nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

/* main section css starts */
.main_section.mainIndex {
  position: relative;
  z-index: -3;
}

main.main_section .main_first {
  padding-top: 80px;
}

main.main_section .main_first__wohnungen {
  background-color: #e8e6ea80;
}

.main_body_content {
  text-align: center;
  max-width: 1389px;
  margin-left: auto;
  margin-right: auto;
}

.main_body_content p.first_line {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 52px;
  letter-spacing: 0px;
}

.main_body_content .max_1389_content {
  max-width: 1389px;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}

.main_body_content .max_1200_content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 11px;
}

.max_1200_content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.home_display {
  max-width: 1160px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 86px auto 40px;
  overflow: hidden;
  outline: 1px solid #707070;
}

.home_display img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.home_display img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

img.down_img {
  opacity: 0.6;
  position: absolute;
  bottom: -20px;
  z-index: 100;
  z-index: 9999;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

img.down_img:hover {
  bottom: -40px !important;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* gallery section starts */
.home_page .gallery_section {
  padding-top: 57px;
  padding-bottom: 160px;
}

.gallery_section .gallery_images .gallery_photo img {
  height: 376px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.w_768 {
  width: 768px;
  /* width: 100%; */
}

.w_376 {
  width: 376px;
  /* width: 100%; */
}

.w_572 {
  width: 572px;
  /* width: 100%; */
}

.w_768 {
  width: 768px;
  /* width: 100%; */
}

.mb_m40 {
  margin-top: -40px;
  margin-bottom: 100px;
}

.pb_123 {
  padding-bottom: 123px;
}

.bg_wht {
  background-color: #fff !important;
}

.hero_section .hero_banner {
  height: 840px;
}

.hero_section .hero_banner img {
  height: 100%;
}

.gallery_tab .slick-slide img {
  height: 376px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery_section__project .gallery_images .gallery_photo {
  position: relative;
  isolation: isolate;
}

.gallery_section__project .gallery_images .gallery_photo::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #555F5E;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  inset: 0;
  opacity: 0.8;
}

.gallery_section__project .gallery_images .gallery_photo.gallery_photo__noBlend::after {
  display: none;
}

.gallery_section__project .gallery_images .gallery_photo.gallery_photo__hover .card-img-overlay {
  display: none;
}

.gallery_section__project .gallery_images .gallery_photo.gallery_photo__hover::after {
  display: none;
}

.gallery_section__project .gallery_images .gallery_photo.gallery_photo__hover:hover::after {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery_section__project .gallery_images .gallery_photo.gallery_photo__hover:hover .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery_section__project .gallery_images .gallery_photo.hover_opacity {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery_section__project .gallery_images .gallery_photo.hover_opacity .card-img-overlay {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery_section__project .gallery_images .gallery_photo.hover_opacity:hover {
  opacity: 1;
}

.gallery_section__project .gallery_images .gallery_photo.hover_opacity:hover .card-img-overlay {
  opacity: 1;
}

.gallery_section__lag .gallery_images .gallery_photo {
  position: relative;
  isolation: isolate;
}

.gallery_section__lag .gallery_images .gallery_photo::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #555F5E;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  inset: 0;
  opacity: 0.8;
}

.gallery_section__lag .gallery_images .gallery_photo .card-img-overlay {
  display: none !important;
}

.gallery_section__lag .gallery_images .gallery_photo::after {
  display: none;
}

.gallery_section__lag .gallery_images .gallery_photo:hover::after {
  display: block;
}

.gallery_section__lag .gallery_images .gallery_photo:hover .card-img-overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.gallery_section {
  padding-top: 80px;
  padding-bottom: 68px;
  position: relative;
}

.gallery_section .gallery_images {
  margin-left: -8px;
  margin-right: -8px;
}

.gallery_section .gallery_images ul li {
  padding: 0px 8px;
}

.gallery_section .gallery_images .gallery_photo {
  position: relative;
}

.gallery_section .gallery_images .gallery_photo .card-img-overlay {
  background-color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px;
  z-index: 9999;
}

.gallery_section .gallery_images .gallery_photo .card-img-overlay h4.overlay_title {
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.14px;
  color: #EDF2F1;
  text-shadow: 0px 3px 6px #50676B;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 400;
}

.gallery_section .gallery_images .gallery_photo .card-img-overlay p.overlay-text {
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.11px;
  color: #EDF2F1;
  opacity: 1;
}

.gallery_section .gallery_images .gallery_photo:hover .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.gallery_section .gallery_images .slick-slider {
  margin-bottom: 16px;
}

.rent_section {
  padding-top: 80px;
  padding-bottom: 84px;
  background-color: #E8E6EA;
}

.rent_section p {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
}

.rent_section a {
  letter-spacing: 0px;
  color: #324653;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 21px;
  font-weight: 300;
  text-align: center;
}

.rent_section a:hover {
  color: inherit;
  text-decoration: unset;
  opacity: 0.7;
}

/* information section css starts */
.information_section {
  padding-bottom: 160px;
}

.information_section h5 {
  font-size: 27px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 57px;
  font-weight: 400;
}

.information_section .contact_no h3 {
  margin-bottom: 36px;
}

.information_section .contact_no h3 a {
  text-align: center;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -0.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  text-decoration: none;
}

.information_section .contact_no h3 img {
  padding-right: 16px;
}

.information_section .email h4 {
  margin-bottom: 23px;
  text-align: center;
}

.information_section .email h4 a {
  font-size: 27px;
  line-height: 38px;
  font-weight: 400;
}

.information_section .email h4 a:hover {
  text-decoration: underline;
}

.information_section .location h4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 27px;
  line-height: 38px;
  font-weight: 400;
}

.information_section .location h4 img {
  margin-right: 12px;
  position: relative;
  bottom: 6px;
}

.information_section .location h4 span.street_no span {
  margin-left: 36px;
}

.information_section .location h4 a:hover {
  text-decoration: none;
}

/* footer css */
.footer_wrapper {
  padding: 30.5px 0px;
  background-color: #E8E6EA;
}

.footer_wrapper p.copy_right {
  margin-bottom: 0px;
  letter-spacing: -0.13px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 50px;
}

.footer_wrapper .footer_nav {
  margin: 0 auto;
}

.footer_wrapper .footer_nav .list-group-item {
  position: relative;
  display: block;
  padding: 0rem 24px;
  background-color: transparent;
  border: 0px;
}

.footer_wrapper .footer_nav .list-group-item:first-child {
  padding-left: 0px;
}

.footer_wrapper .footer_nav .list-group-item:last-child {
  padding-right: 0px;
}

.footer_wrapper .footer_nav .list-group-item a {
  font-size: 16px;
  line-height: 36px;
  opacity: 1;
  font-weight: 300;
  color: #324653;
  letter-spacing: -0.16px;
}

.footer_wrapper .footer_nav .list-group-item a:hover {
  text-decoration: underline;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__inner .copyRight_wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.hover_effect:hover {
  opacity: 0.6;
  text-decoration: underline !important;
}

#topbutton {
  display: inline-block;
  background-color: #324653;
  width: 48px;
  height: 48px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#topbutton::after {
  display: block;
  content: ' ';
  background-image: url("../img/top_arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 4.08px;
  width: 8.14px;
  position: relative;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#topbutton:hover {
  cursor: pointer;
}

#topbutton.show {
  opacity: 1;
  visibility: visible;
}

.information_section .info_title h2 {
  font-size: 34px;
  line-height: 56px;
  margin-bottom: 0px;
  color: #324653;
  font-weight: 400;
  display: none;
  margin-bottom: 26px;
  text-align: center;
}

button:focus {
  outline: unset;
}

.mobile_btn_top {
  display: none;
}

/* impressum page css*/
.main_body.impressum_page {
  background-color: #c6bfcb54;
}

.main_body.impressum_page .container {
  max-width: 1458px;
}

.main_body.impressum_page main.main_section .main_first {
  padding-top: 196px;
  padding-bottom: 40px;
}

.main_body.impressum_page main.main_section .impressum_content {
  max-width: 1458px;
  margin-left: auto;
  margin-right: auto;
}

.main_body.impressum_page main.main_section .impressum_content h1.title {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: left;
}

.main_body.impressum_page main.main_section .impressum_content a,
.main_body.impressum_page main.main_section .impressum_content h6,
.main_body.impressum_page main.main_section .impressum_content p {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  margin-bottom: 0px;
  font-weight: 400;
  color: #324653;
}

.main_body.impressum_page main.main_section .impressum_content h6 {
  text-transform: uppercase;
}

.main_body.impressum_page main.main_section .impressum_content a {
  text-decoration: none;
  font-weight: 400;
}

.main_body.impressum_page main.main_section .data_protection_details {
  margin-top: 120px;
}

.main_body.impressum_page main.main_section .data_protection_details .policy {
  margin-bottom: 40px;
}

.main_body.impressum_page main.main_section .data_protection_details .policy p span {
  margin-right: 60px;
}

.main_body.impressum_page .footer_wrapper {
  background-color: #fff;
}

img:focus-visible {
  outline: unset !important;
}

.slick-slide img {
  outline: unset;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.data_protection_details h2.section_title {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.31px;
  font-weight: 400;
}

.main_body.impressum_page .footer_wrapper {
  margin-top: 0px;
}

.main_body.impressum_page .footer_wrapper .list-group-item a {
  color: #324653;
  opacity: 1;
}

.mobile_nav_flex .close {
  display: none;
}

/* images css */
.mobile_img {
  display: none;
}

.map {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: inherit !important;
          transform: inherit !important;
}

.card {
  background-color: transparent;
  border: unset;
}

.sliderLink_zIndex {
  position: relative;
  z-index: 9999;
}

.map_inner {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map_inner h6 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-right: 6px;
  text-transform: uppercase;
}

.map_inner:hover h6 {
  text-decoration: underline;
}

.impressum_page .hero_section .navbar .nav-item .nav-link {
  color: #1D3E3C !important;
}

.impressum_page .navbar-toggler img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#bezugsfrei .haus_info_box::before,
#haus2 .haus_info_box::before,
#haus3 .haus_info_box::before,
#haus4 .haus_info_box::before {
  content: "";
  background-image: url(../img/wohnungen/Verkauft.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#bezugsfrei .haus_info_box.greySold::before,
#haus2 .haus_info_box.greySold::before,
#haus3 .haus_info_box.greySold::before,
#haus4 .haus_info_box.greySold::before {
  content: "";
  background-image: url(../img/wohnungen/sold.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.wohnungen_page .down_arrow img {
  position: absolute;
  bottom: -20px;
  z-index: 100;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.wohnungen_page.main_body {
  background-color: #e8e6ea80;
}

.wohnungen_page .hero_section .navbar .nav-item .dropdown_button {
  color: #1D3E3C !important;
}

.wohnungen_page .hero_section .navbar .nav-item .nav-link {
  color: #1D3E3C !important;
}

.wohnungen_page .container {
  max-width: 1582px;
}

.wohnungen_page .gallery_section .container {
  position: relative;
}

.wohnungen_page .gallery_section.haus_gallery {
  padding-bottom: 64px;
  background-color: #E0E1E4;
}

.wohnungen_page .gallery_section.haus_gallery h1.title {
  margin-bottom: 80px;
}

.wohnungen_page .gallery_section.haus_gallery_V5 {
  background: rgba(163, 176, 175, 0.3);
}

.wohnungen_page .gallery_section.haus_gallery_V6 {
  background: rgba(163, 176, 175, 0.25);
}

.wohnungen_page .gallery_section.haus_gallery_Vwhite {
  background: #fff;
}

.wohnungen_page .gallery_section.haus_gallery_V2 {
  background-color: #a3b0af5c;
}

.wohnungen_page .gallery_section.haus_gallery_V3 {
  background-color: #7070703b;
}

.wohnungen_page .gallery_section.haus_gallery_V4 {
  background-color: #e8e6eab3;
}

.wohnungen_page .gallery_section.haus2_galleryO {
  background-color: #F7F9F9;
}

.wohnungen_page .gallery_section.haus2_galleryE, .wohnungen_page .gallery_section.haus3_galleryO, .wohnungen_page .gallery_section.haus4_galleryO, .wohnungen_page .gallery_section.haus5_galleryO {
  background-color: #e1e2e5b3;
}

.wohnungen_page .gallery_section.haus3_galleryE {
  background-color: #e1e2e55c;
}

.wohnungen_page .gallery_section.haus5_galleryE {
  background-color: #e1e2e559;
}

.wohnungen_page main.main_section .main_first {
  padding-top: 0px;
}

.wohnungen_page .wohnungen_intro {
  padding-top: 80px;
}

.wohnungen_page .wohnungen_intro p {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.2px;
  text-align: center;
  max-width: 1389px;
  margin: 0 auto 50px;
}

.wohnungen_page .sitePlan_view {
  padding: 80px 0px;
}

.wohnungen_page .sitePlan_view img {
  mix-blend-mode: multiply;
}

.wohnungen_page .haus_info_box {
  width: 376px;
  height: 376px;
  background-color: #7070704d;
  padding: 13px 24px;
}

.wohnungen_page .haus_info_box .haus_version {
  border-bottom: 1px solid #324653;
  padding-bottom: 11px;
  margin-bottom: 11px;
}

.wohnungen_page .haus_info_box .haus_version h5 {
  font-size: 21px;
  line-height: 18px;
  letter-spacing: -0.21px;
  font-weight: 300;
  margin-bottom: 0px;
}

.wohnungen_page .haus_info_box .haus_version_content p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
  margin-bottom: 20px;
  font-weight: 300;
}

.wohnungen_page .haus_version_detail .version_Dcontent {
  max-width: 756px;
}

.wohnungen_page .haus_version_detail .version_Dcontent__plan {
  max-width: 1148px;
}

.wohnungen_page .haus_version_detail .version_Dcontent P {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.07px;
  font-weight: 400;
}

.wohnungen_page .haus_version_detail .related_haus_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.wohnungen_page .haus_version_detail .related_haus_map .map_image:first-of-type {
  margin-right: 16px;
}

.wohnungen_page .haus_version_detail .linked_map_name {
  max-width: 376px;
  width: 100%;
  margin-left: auto;
}

.wohnungen_page .haus_version_detail .linked_map_name h6 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-right: 6px;
}

.wohnungen_page .haus_version_detail .down_arrow img {
  position: absolute;
  bottom: -20px;
  z-index: 100;
}

.wohnungen_page .property_section {
  padding-top: 80px;
  padding-bottom: 126px;
}

.wohnungen_page .property_section p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.bg_grey {
  background-color: #E8E6EA !important;
}

.bottom_gallery_section .swiper-button-next,
.bottom_gallery_section .swiper-button-prev {
  color: #1D3E3C;
}

.bottom_gallery_section .swiper-button-next:after,
.bottom_gallery_section .swiper-button-prev:after {
  font-size: 64px;
}

.bottom_gallery_section .swiper-button-prev,
.bottom_gallery_section .swiper-rtl .swiper-button-next {
  left: -5%;
}

.bottom_gallery_section .swiper-button-next,
.bottom_gallery_section .swiper-rtl .swiper-button-prev {
  right: -5%;
}

.bottom_gallery_section .container {
  max-width: 1600px;
  position: relative;
}

.arrowed_gallery .arrowed_gallery_images {
  margin-left: -8px;
}

.arrowed_gallery .arrowed_gallery_images ul {
  margin-left: 0px;
  padding-left: 0px;
}

.arrowed_gallery .arrowed_gallery_images ul li {
  padding: 0px 8px;
}

.arrowed_gallery .slick-prev {
  left: -80px;
}

.arrowed_gallery .slick-next {
  right: -62px;
}

.appartment_gallery .slick-next {
  right: -98px;
}

.appartment_gallery .slick-prev {
  left: -98px;
}

.appartment_gallery .slick-arrow {
  width: auto;
  height: auto;
}

.wohnungen_page_1_1 .main_section,
.wohnungen_page_1_1 .footer_wrapper {
  background-color: #E8E6EA;
}

#navbar-close {
  display: none;
}

.grundrisse_pages {
  background-color: #E8E6EA;
}

.grundrisse_pages .main_section {
  padding-top: 144px;
}

.grundrisse_pages .footer_wrapper {
  background-color: #E8E6EA;
}

.grundrisse_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grundrisse_heading.grundrisse_heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.grundrisse_heading.grundrisse_heading .floor_detail {
  padding-right: 93px;
}

.grundrisse_heading.grundrisse_heading h6 {
  margin-bottom: 40px;
}

.grundrisse_heading h4 {
  font-size: 21px;
  line-height: 18px;
  letter-spacing: -0.21px;
  font-weight: 300;
  color: #324653;
}

.grundrisse_heading h5,
.grundrisse_heading h6 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
  font-weight: 500;
}

.grundrisse_heading h5 {
  padding-left: 30px;
}

.grundrisse_heading h6 {
  font-weight: 300;
  margin-bottom: 48px;
}

.grundrisse_heading h6 img {
  margin-right: 10px;
}

.Grundrisse_gallery_section .container {
  max-width: 1666px;
}

.max_width_1768 {
  max-width: 1768px !important;
}

.mobile_haus_map {
  display: none !important;
}

.modal-backdrop {
  display: none;
}

.main_body_content p a:hover {
  color: #324653;
  text-decoration: underline;
}

.card-img-top {
  border-radius: 0px !important;
}

.custom_dimensions .gallery_images .gallery_photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 336px;
}

.custom_dimensions .gallery_images .w_496 {
  width: 496px;
}

.custom_dimensions .gallery_images .w_240 {
  width: 240px;
}

.bottom_gallery_section .swiper-slide img {
  display: block;
}

.bottom_gallery_section .bottom_gallery_images .gallery_photo img {
  height: 768px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: unset;
  width: inherit;
}

.bottom_gallery_section .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slick-slide {
  outline: none !important;
}

.slick-slide div {
  outline: none !important;
}

.slick-slide:focus,
.slick-slide a {
  outline: none !important;
}

.soldSec .sold_img {
  -webkit-transform: translateY(9%);
          transform: translateY(9%);
  max-width: 335px;
  width: 100%;
}

.soldSec .card-img-overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Responsive*/
.back_plan {
  position: fixed;
  top: 115px;
  z-index: 100;
}

.appartment_gallery .slick-slide img {
  height: 752px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wohnungen_page .navbar-toggler img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.lage_content {
  margin-bottom: 160px;
}

.lage_content p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18;
}

.gallery_section.gallery_section__lag {
  background-color: #a3b0af33;
  padding: 160px 0px;
}

.gallery_section.gallery_section__lag .gallery_photo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  height: 336px;
}

.gallery_section.gallery_section__lag .gallery_photo img {
  height: 100%;
}

.gallery_section.gallery_section__lag .gallery_photo:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.map_section {
  background-color: #e1e2e580;
}

.map_section .embed-responsive {
  height: 840px;
}

.information_section__lage {
  padding-top: 160px;
  background-color: #fff;
}

.floor_slider .card-img-top {
  border: 1px solid #707070;
}

.floor_blend {
  border: 1px solid #707070;
}

.gallery_images__test .w_376 {
  max-width: 100%;
  width: 100%;
}

.gallery_images__test ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  list-style-type: none;
}

.gallery_images__test ul li {
  padding: 0px 15px;
  width: 25%;
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
}

.gallery_images__test ul img {
  height: 300px;
}

.map_image img {
  max-width: 376px;
}

.wohnugenGallery_wrapper {
  position: relative;
  margin-bottom: 64px;
}

.wohnugenGallery_wrapper .swiper-button-next,
.wohnugenGallery_wrapper .swiper-button-prev {
  color: #1D3E3C;
}

.wohnugenGallery_wrapper .swiper-button-next:after,
.wohnugenGallery_wrapper .swiper-button-prev:after {
  font-size: 64px;
}

.wohnugenGallery_wrapper .swiper-button-prev,
.wohnugenGallery_wrapper .swiper-rtl .swiper-button-next {
  left: 4%;
}

.wohnugenGallery_wrapper .swiper-button-next,
.wohnugenGallery_wrapper .swiper-rtl .swiper-button-prev {
  right: 4%;
}

.wohnugenGallery_wrapper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 752px;
  object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: unset;
  width: inherit;
}

.wohnugenGallery_wrapper .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: -25px;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}

.lang_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang_item p {
  color: #E0E1E4;
}

.lang_item .active_lang {
  text-decoration: underline;
}

.wohnungen_page .hero_section .lang_item p,
.impressum_page .lang_item p {
  color: #1D3E3C !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
  background-image: url("../img/gallery_prev.png");
  background-size: 100%;
  width: 39px;
  height: 62px;
  background-repeat: no-repeat;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
  background-image: url("../img/gallery_next.png");
  background-size: 100%;
  width: 39px;
  height: 62px;
  background-repeat: no-repeat;
}

@media (max-width: 1540px) {
  .grundrisse_heading.grundrisse_heading .floor_detail {
    padding-right: 60px;
  }
  .wohnugenGallery_wrapper .swiper-slide img {
    height: 70vh;
  }
  .pr_cs_0 {
    padding-right: 0px;
  }
  .wohnungen_page .haus_version_detail .desktop_haus_map .related_haus_map .map_image .img_376 {
    width: 335px;
    height: 335px;
  }
  .hero_section .hero_banner {
    height: 100vh;
  }
  .hero_section .hero_banner img {
    height: 100%;
  }
  .hero_section.hero_section__lage .hero_banner img.card-img-top {
    height: calc(100% - 43px);
  }
  .mb_m40 {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .home_display {
    max-width: 674px;
    max-height: 95vh;
    margin: 86px auto 40px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
  .bottom_gallery_section .container {
    max-width: 1210px !important;
  }
  .bottom_gallery_section .swiper-button-prev,
  .bottom_gallery_section .swiper-rtl .swiper-button-next {
    left: -60px;
  }
  .bottom_gallery_section .swiper-button-next,
  .bottom_gallery_section .swiper-rtl .swiper-button-prev {
    right: -60px;
  }
  .wohnungen_page .container {
    max-width: 1400px;
  }
  .wohnungen_page .gallery_section.haus_gallery h1.title {
    margin-bottom: 60px;
  }
  .wohnungen_page .haus_version_detail .linked_map_name {
    max-width: 335px;
  }
  .footer_wrapper .list-group-horizontal > .list-group-item:first-child {
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    padding-left: 0px;
  }
  .hero_section header.nav_wrapper .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero_section header.nav_wrapper .navbar .nav-item .nav-link {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .bottom_gallery_section .container {
    max-width: 1440px;
  }
  .Grundrisse_gallery_section .container {
    max-width: 1366px;
  }
  .appartment_gallery .slick-slide img {
    height: 70vh;
  }
  .arrowed_gallery .slick-prev {
    left: -60px;
  }
  .arrowed_gallery .slick-next {
    right: -36px;
  }
  .appartment_gallery .slick-next {
    right: -60px;
  }
  .appartment_gallery .slick-prev {
    left: -60px;
  }
  .map_section .embed-responsive {
    height: 80vh;
  }
  .bottom_gallery_section .bottom_gallery_images .gallery_photo img {
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wohnugenGallery_wrapper .swiper-button-prev,
  .wohnugenGallery_wrapper .swiper-rtl .swiper-button-next {
    left: 20px;
  }
  .wohnugenGallery_wrapper .swiper-button-next,
  .wohnugenGallery_wrapper .swiper-rtl .swiper-button-prev {
    right: 20px;
  }
}

@media (max-width: 1444px) {
  .appartment_gallery .slick-slide img {
    height: 70vh;
  }
  .arrowed_gallery .slick-prev {
    left: -60px;
    z-index: 99999;
  }
  .arrowed_gallery .slick-next {
    right: -40px;
    z-index: 99999;
  }
  .arrowed_gallery .arrowed_gallery_images {
    margin-bottom: 80px;
  }
  .Grundrisse_gallery_section .container {
    max-width: 1210px;
  }
  .hero_section header.nav_wrapper .navbar .nav-item .nav-link {
    font-size: 14px;
  }
  .appartment_gallery .slick-next {
    right: -60px;
  }
  .appartment_gallery .slick-prev {
    left: -60px;
  }
}

@media (min-width: 1240px) and (max-width: 1299.98px) {
  .hero_section header.nav_wrapper .navbar .nav-item .nav-link {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
  }
  .wohnungen_page .haus_gallery .container {
    -webkit-transform: scale(0.78) !important;
            transform: scale(0.78) !important;
  }
  .wohnungen_page .rent_section.property_section .container {
    -webkit-transform: scale(0.78) !important;
            transform: scale(0.78) !important;
  }
  .wohnungen_page .bottom_gallery_section .container {
    -webkit-transform: scale(0.78) !important;
            transform: scale(0.78) !important;
  }
  .wohnungen_page .haus_version_detail {
    margin-top: -175px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1239.98px) {
  .hero_section header.nav_wrapper .navbar .nav-item .nav-link {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 16px;
  }
}

.slick-dots-container {
  width: 5.5rem;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0.625rem auto;
  height: 0.875rem;
  position: relative;
}

.slick-dots-container > ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
  margin: 0;
  list-style: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: unset;
  height: 100%;
}

.slick-dots-container > ul li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
  background-color: #E8E6EA;
  border: none;
  border-radius: 50%;
  padding: 0px !important;
}

.slick-dots-container > ul li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.3125rem;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.slick-dots-container > ul li.p-small-1,
.slick-dots-container > ul li.n-small-1 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slick-dots-container > ul li.slick-active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  background: #000;
}

.slick-dots-container .slick-dots li button:before {
  display: none;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .map_section {
    background-color: #e1e2e580;
    margin-top: -17px;
  }
  .gallery_section.gallery_section__lag {
    padding: 0px 0px;
  }
  .gallery_section__lag .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .wohnungen_page .haus_gallery .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .wohnungen_page .rent_section.property_section .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .wohnungen_page .bottom_gallery_section .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .wohnungen_page .gallery_section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .wohnungen_page .bottom_gallery_section {
    margin-top: -100px;
  }
  .wohnungen_page .footer_wrapper {
    margin-top: -75px;
  }
  .grundrisse_pages .footer_wrapper {
    margin-top: unset;
  }
  .wohnungen_page__gallery .footer_wrapper {
    margin-top: initial;
  }
  .wohnungen_page .haus_version_detail {
    margin-top: -160px;
  }
  .wohnungen_page .haus_version_detail_2 {
    margin-top: -86px;
  }
  .wohnungen_page .haus_version_detail_3 {
    margin-top: -86px;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: inherit !important;
            transform: inherit !important;
  }
}

.max_496w {
  width: 496px;
}

.max_496w img {
  -o-object-fit: cover;
     object-fit: cover;
}

.max_240w {
  width: 240px;
}

.max_240w img {
  -o-object-fit: cover;
     object-fit: cover;
}

.haus_tab_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.haus_tab_gallery .gallery_tab {
  max-width: calc(100% - 376px);
}

.haus_tab_gallery .gallery_tab .slick-slider {
  padding-left: 8px;
}

.haus_tab_gallery .gallery_tab ul li {
  padding: 0px 8px;
}

.map_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_inner img {
  width: 10px !important;
  height: 15px !important;
  margin: 0 !important;
}

.floor_slider .slick-slide .customHeightImg.objectFill img {
  -o-object-fit: fill;
     object-fit: fill;
}

.floor_slider .slick-slide .objectFill img {
  -o-object-fit: fill;
     object-fit: fill;
}

.impressum_page .hero_section header.nav_wrapper .navbar .nav-item .dropdown_button {
  color: #1D3E3C;
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .wohnungen_page header.nav_wrapper {
    position: fixed;
    background: rgba(237, 242, 241, 0.52);
  }
  .hero_section header.nav_wrapper .navbar .nav-item .dropdown_button {
    color: #062A30 !important;
  }
  .hero_section header.nav_wrapper .navbar .nav-item .dropdown_button {
    padding-left: 0;
  }
  .hover_dropdown .dropdown-menu {
    position: unset;
    min-width: auto;
    margin-left: 15px;
    -webkit-transform: unset;
            transform: unset;
    width: 220px;
  }
  .hover_dropdown .dropdown-menu li {
    text-align: start;
  }
  .wohnungen_page .haus_info_box {
    position: relative;
  }
  .grundrisse_heading.grundrisse_heading .floor_detail {
    padding-right: 0px;
  }
  .home_page .gallery_section {
    padding-bottom: 120px;
  }
  .bottom_gallery_section .swiper-button-next,
  .bottom_gallery_section .swiper-button-prev {
    display: none;
  }
  .mb_m40 {
    margin-top: 0px;
  }
  .hero_section .hero_banner {
    height: 50vh;
  }
  .hero_section.hero_section__lage .hero_banner {
    height: calc(50vh - 43px);
  }
  #collapsibleNavbar {
    content: '';
    display: block;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999;
    background: #324653e6;
    display: none;
  }
  #collapsibleNavbar.overlay ul.navbar-nav {
    width: 100%;
    height: auto;
    background: #C7D6D3;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .mobile_nav_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 32.98px;
    padding-left: 97px;
  }
  .mobile_nav_flex .close {
    display: block;
    padding-left: 32px;
    opacity: 1;
  }
  .nav_wrapper .navbar .nav-item .nav-link {
    font-size: 15px;
    line-height: 36px;
    padding: 0px;
    letter-spacing: 0px;
    color: #062A30 !important;
    padding-left: 0px !important;
  }
  .information_section .info_title h2 {
    display: block;
  }
  .footer_wrapper p.copy_right {
    padding-left: 30px;
  }
  .main_body .navbar-toggler {
    padding: 0px;
  }
  .impressum_page main.main_section .impressum_content {
    max-width: 650px;
  }
  .arrowed_gallery .slick-next {
    right: 50px;
  }
  .arrowed_gallery .slick-prev {
    left: 26px;
    z-index: 9999;
  }
  .appartment_gallery .slick-next {
    right: 30px;
  }
  .appartment_gallery .slick-prev {
    left: 30px;
  }
  .appartment_gallery .slick-slide img {
    height: 494px;
  }
  .bottom_gallery_section .bottom_gallery_images .gallery_photo img {
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pb_123 {
    padding-bottom: 30px;
  }
  .wohnungen_page .haus_version_detail .version_Dcontent {
    margin-bottom: 0px !important;
  }
  .information_section {
    padding-bottom: 80px;
  }
  .grundrisse_pages .main_section {
    height: calc(100vh - 96px);
  }
  .floor_slider .slick-slide img {
    height: auto !important;
  }
  .floor_slider .slick-slide .customHeightImg img {
    height: 815px !important;
  }
  .gallery_section.gallery_section__lag {
    padding: 120px 0px;
  }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .floor_slider .slick-slide .customHeightImg img {
    height: 605px !important;
  }
  .hover_dropdown .dropdown-menu li a {
    font-size: 15px;
    line-height: 16px;
  }
  .hero_section.hero_section__lage .nav_wrapper:after {
    height: 80px;
    background-color: #82828545;
  }
  .grundrisse_pages .main_section {
    height: auto;
  }
  .wohnungen_page .sitePlan_view {
    padding: 68px 0px;
  }
  .map_inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .huasMap_gallery .map_inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .haus_tab_gallery .gallery_photo .card-img-top {
    width: 376px;
  }
  .information_section__lage {
    padding-top: 80px;
  }
  main.main_section .main_first {
    padding-top: 40px;
  }
  .main_first p br {
    display: none;
  }
  .max_1200_content {
    max-width: 754px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery_section {
    padding-bottom: 40px;
  }
  .home_page .gallery_section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .rent_section {
    padding-bottom: 56px;
  }
  .information_section {
    padding-bottom: 80px;
  }
  .information_section .container {
    max-width: 754px !important;
  }
  .information_section h5 {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: -0.21px;
  }
  .hero_carousel .carousel_img img {
    height: 432px;
  }
  .hero_carousel .slick-dots li button:before,
  .gallery_images .slick-dots li button:before {
    font-size: 11px;
  }
  .main_body_content p.first_line {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -0.16px;
  }
  .main_body_content h1,
  h1.title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 36px;
    letter-spacing: -0.26px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.14px;
  }
  .information_section .info_content h5 {
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
  }
  .information_section .contact_no h3,
  .information_section .contact_no h3 a {
    font-size: 23px;
    line-height: 33px;
    letter-spacing: -0.23px;
    margin-bottom: 24px;
  }
  .information_section .contact_no h3 img {
    padding-right: 0px;
    width: 16.37px;
    margin-right: 12px;
  }
  .information_section .email h4 a {
    font-size: 21px;
    line-height: 38px;
    letter-spacing: 0px;
  }
  .information_section .location h4 a {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information_section .location h4 span.street_no {
    margin-right: 0px;
  }
  .information_section .location h4 img {
    bottom: 1px;
    width: 13.33px;
  }
  .main_body.impressum_page .footer_wrapper {
    padding-top: 40px;
  }
  .footer_wrapper .list-group-item a {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .footer_wrapper .list-group-item {
    margin-bottom: 24px;
  }
  .footer_wrapper p.copy_right {
    padding-left: 0px;
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1px;
  }
  .hero_section header.nav_wrapper .navbar {
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero_section .nav_overlay {
    height: 80px;
  }
  .hero_section header.nav_wrapper .navbar-brand {
    padding: 0px;
  }
  .hero_section .hero_banner__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .hero_section .hero_banner__description {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
  }
  .home_display img {
    height: 50vh;
  }
  /* impressum page css */
  .impressum_page main.main_section .main_first {
    padding-top: 48px;
  }
  .impressum_page main.main_section .impressum_content h1.title {
    text-align: center;
  }
  .impressum_page .main_first p br {
    display: block;
  }
  .Grundrisse_gallery_section .container {
    max-width: 830px;
  }
  .desktop_haus_map {
    display: none !important;
  }
  .mobile_haus_map {
    display: block !important;
  }
  .mobile_haus_map .linked_map_name img {
    width: 20px;
  }
  .wohnungen_page .haus_version_detail .down_arrow img {
    left: 50%;
    -webkit-transform: translate(-59%, 0px);
            transform: translate(-59%, 0px);
  }
  .wohnungen_page .haus_version_detail .version_Dcontent {
    min-height: auto;
    padding-bottom: 0px;
  }
  .max_h_406 {
    height: 406px !important;
    -o-object-fit: none;
       object-fit: none;
  }
  .property_section p br {
    display: none;
  }
  .bottom_gallery_images .gallery_photo img {
    height: 407px !important;
  }
  .haus_tab_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery_tab {
    max-width: 421px;
  }
  .gallery_tab ul {
    padding-left: 16px !important;
    margin-bottom: 16px;
  }
  .gallery_tab ul li {
    padding: 0px 8px;
  }
  .arrowed_gallery .bottom_gallery_images ul,
  .arrowed_gallery .arrowed_gallery_images ul {
    margin-bottom: 16px;
  }
  .wohnungen_page .haus_version_detail .related_haus_map .linked_map_name {
    margin-left: 0px;
    display: none;
  }
  .wohnungen_page .hause_main_title {
    background-color: #dedfe3bf;
  }
  .wohnungen_page .gallery_section.haus_gallery {
    padding-top: 68px;
  }
  .wohnungen_page .hause_main_title {
    padding-bottom: 16px;
  }
  .wohnungen_page .hause_main_title h1.title {
    margin-bottom: 0px;
  }
  .mobile_haus_map .slick-slide img {
    max-width: 376px;
    max-height: 376px;
    margin: 0 auto;
  }
  .mobile_haus_map .slick-prev {
    left: 30px;
  }
  .mobile_haus_map .slick-next {
    right: 30px;
  }
  .lage_content {
    margin-bottom: 120px;
  }
  .map_section {
    background-color: #e1e2e580;
    padding-bottom: 80px;
  }
  .hero_section::after {
    height: 80px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__inner .copyRight_wrapper {
    position: unset;
  }
  .lage_content {
    margin-bottom: 80px;
  }
  .d-floor_none {
    display: none;
  }
  .wohnugenGallery_wrapper .swiper-button-prev,
  .wohnugenGallery_wrapper .swiper-rtl .swiper-button-next {
    display: none;
  }
  .wohnugenGallery_wrapper .swiper-button-next,
  .wohnugenGallery_wrapper .swiper-rtl .swiper-button-prev {
    display: none;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .footer_wrapper {
    margin-top: 90px;
  }
  /* your css rules for ipad landscape */
}

@media (max-width: 575.98px) {
  .hero_carousel .slick-dots, .gallery_images .slick-dots {
    bottom: 5px;
  }
  .hero_section__lage .hero_carousel .slick-dots {
    display: none !important;
  }
  .gallery_images .slick-list {
    padding: 0 !important;
  }
  .hover_white a {
    color: #324653 !important;
  }
  .hover_dropdown {
    cursor: pointer;
  }
  .hover_dropdown.hover_white li a {
    color: #324653 !important;
  }
  .hero_section {
    z-index: 99999;
  }
  .floor_slider .slick-slide .customHeightImg img {
    height: 310px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .haus_tab_gallery .gallery_tab {
    display: none;
  }
  .wohnugenGallery_wrapper .swiper-slide img {
    height: 376px;
  }
  .bottom_gallery_images .gallery_photo img {
    display: block;
    height: 376px !important;
  }
  .floor_blend {
    max-width: 376px;
  }
  .photo_mob_768 {
    width: 768px;
  }
  .wohnungen_page .wohnungen_intro {
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
  .wohnungen_page .wohnungen_intro p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.14px;
  }
  .wohnungen_newtitle {
    margin-bottom: 20px;
  }
  .wohnungen_page .sitePlan_view {
    padding: 0px 0px 50px;
  }
  .information_section .location h4 a {
    text-align: center;
  }
  .information_section .location h4 span.street_no span {
    margin-left: 0px;
    display: block;
  }
  .map_inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .map_inner i {
    font-size: 14px;
    font-weight: 600;
  }
  .hero_banner__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
  .wohnungen_page .haus_version_detail .linked_map_name h6 {
    text-align: center;
  }
  .version_lastcontent {
    text-align: center;
  }
  .rent_section {
    padding-top: 35px;
  }
  .hero_section .hero_banner img {
    height: 50vh;
  }
  .hero_section .hero_banner__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 15px;
    text-align: center;
  }
  .hero_section .hero_banner__title span {
    text-transform: uppercase;
  }
  .hero_section header.nav_wrapper .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero_section .hero_banner__description {
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
  }
  .wohnungen_page .gallery_section.haus_gallery {
    padding-top: 40px;
  }
  .main_first .main_body_content {
    max-width: 336px;
  }
  .max_1200_content {
    padding: 0px 0px !important;
    max-width: 336px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .main_body_content p.first_line {
    margin-bottom: 24px;
  }
  main.main_section .main_first {
    padding-top: 41px;
    padding-bottom: 16px;
  }
  .information_section {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }
  .information_section .container {
    max-width: 359px !important;
  }
  .pb_123 {
    padding-bottom: 0px;
  }
  .huasMap_gallery .map_inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .huasMap_gallery .slick-slider .slick-list {
    padding: 0px 20px !important;
  }
  h1.title.title_2 {
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: -0.26px;
    line-height: 26px;
  }
  .information_section .info_content h5,
  .information_section .email h4,
  .information_section .email h4 a {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .information_section .email h4 a {
    font-size: 21px;
    line-height: 27px;
  }
  .home_page .gallery_section {
    padding-top: 32px !important;
    padding-bottom: 24px;
  }
  h1.title {
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: -0.26px;
    line-height: 26px;
  }
  .rent_section a {
    letter-spacing: -0.21px;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 21px;
  }
  .information_section h5 br {
    display: none;
  }
  .footer_wrapper .list-group-horizontal > .list-group-item:first-child {
    padding-left: 0px;
  }
  .footer_wrapper .footer_nav .list-group-item {
    padding: 0rem 12px;
  }
  /* IMPRESSUM PAGE */
  .impressum_contact_box {
    margin-bottom: 26px;
  }
  .main_body.impressum_page main.main_section .impressum_content a,
  .main_body.impressum_page main.main_section .impressum_content h6,
  .main_body.impressum_page main.main_section .impressum_content p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.12px;
  }
  .mb_50 {
    margin-bottom: 26px !important;
  }
  .data_protection_details h2.section_title {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .impressum_page main.main_section .impressum_content .data_protection_details a,
  .impressum_page main.main_section .impressum_content .data_protection_details p,
  .impressum_page main.main_section .impressum_content .data_protection_details h6 {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  .main_body.impressum_page main.main_section .impressum_content {
    max-width: 328px;
  }
  .main_body.impressum_page main.main_section .data_protection_details .policy p span {
    margin-right: 36px;
  }
  .main_body.impressum_page main.main_section .data_protection_details .policy {
    margin-bottom: 30px;
  }
  /* images css */
  .desktop_img {
    display: none;
  }
  .mobile_img {
    display: block;
  }
  .hero_carousel .carousel_img img {
    height: auto;
  }
  .main_body.impressum_page main.main_section .main_first {
    padding-top: 144px;
  }
  .main_body.impressum_page main.main_section .impressum_content h1.title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.15px;
    text-align: center;
  }
  .mt_xs_30 {
    margin-top: 25px;
  }
  .main_body.impressum_page main.main_section .data_protection_details {
    margin-top: 100px;
  }
  .px_xs_0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .wohnungen_page .haus_info_box {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .wohnungen_page .haus_version_detail .version_Dcontent {
    margin: 0px 24px;
    max-width: 336px;
  }
  .wohnungen_page .hause_main_title {
    padding-top: 136px;
  }
  .wohnungen_page main.main_section .main_first {
    padding-bottom: 0px;
  }
  .pt_sm_0 {
    padding-top: 0px;
  }
  .wohnungen_page .property_section.rent_section,
  .wohnungen_page .information_section {
    display: none;
  }
  .wohnungen_page .haus_version_detail .related_haus_map .linked_map_name {
    margin-left: 9px;
  }
  .wohnungen_page h1.title {
    margin-bottom: 20px;
    line-height: 38px;
  }
  .rent_section h1.title {
    margin-bottom: 30px;
  }
  .home_page .gallery_section .container {
    padding: 0px;
  }
  .home_page .gallery_section .container .slick-list.draggable {
    padding-left: 0px !important;
  }
  .haus_gallery .container {
    padding: 0px;
  }
  .wohnungen_page .footer_wrapper {
    padding-top: 20px;
  }
  .appartment_gallery .slick-next {
    right: 20px;
  }
  .appartment_gallery .slick-prev {
    left: 20px;
  }
  .appartment_gallery .slick-arrow {
    width: 30px;
    height: 45px;
  }
  .grundrisse_pages .main_section {
    padding-top: 110px;
  }
  .grundrisse_heading h6 {
    margin-bottom: 35px;
  }
  .appartment_gallery .slick-slide img {
    height: 376px;
  }
  .arrowed_gallery .arrowed_gallery_images {
    margin-bottom: 60px;
  }
  .mobile_haus_map .slick-prev {
    left: 15px;
  }
  .mobile_haus_map .slick-next {
    right: 15px;
  }
  .gallery_section .gallery_images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .grundrisse_heading h4 {
    font-size: 12px;
    line-height: 12px;
  }
  .grundrisse_heading.grundrisse_heading h6 {
    margin-bottom: 35px;
  }
}

@media (max-width: 413.98px) {
  .main_body_content h1 {
    font-size: 26px;
    line-height: 38px;
  }
}
